    /* fonts

    font-family: 'Lora', serif;

    font-family: 'Sen', sans-serif; */





body {
  background-image: url("images/main-background-1.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
  font-family: "Sen", sans-serif;
}


/* NAVBAR */

.navbar .container{
  background-color: rgb(235, 235, 235);
  padding: 30px 50px;
  display: grid;
  grid-template-columns: 30% 70%;
}

.nav-links {
    display: flex;
    margin: 0;
    padding-top: 15px;
    justify-content: flex-end;
    
}

.nav-links a {
    padding-right: 20px;
    text-decoration: none;
    color: rgb(53, 53, 53);
}

.nav-links a:hover,
.nav-links a:focus{
   color: orangered;
   
   
}

/* MAIN PAGE */

.main {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

.main img{
    width: 1000px;
}

.main p {
  display: flex;
  justify-content: center;
  color: white;
  letter-spacing: 10px;
  padding-top: 20px;
}

/* About and Mission */

#section-two .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 120px;
    line-height: 40px;
}

#section-two .container .left-side {
    background-color: white;
    padding: 40px 80px;
    color: black;
}

#section-two .container .right-side {
    background-color: black;
    padding: 40px 80px;
    color: white;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 30px;

}

/* MOBILE RESPONSIVE */

@media (max-width: 300px) {
    .navbar .container {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .nav-links {
        grid-row: 2/2;
        justify-content: center;
        font-size: 12px;
    }

    .main img{
        width: 300px;

    }

    .main p {
        display: flex;
        justify-content: center;
        color: white;
        letter-spacing: 10px;
        padding-top: 20px;
        font-size: 10px;
      }

    /* ABOUT AND MISSION */

    #section-two .container{
        display: grid;
        grid-template-rows: 50% 50%;
        padding-top: 50px;
        line-height: 15px;
    }
    
    #section-two .container .left-side {
        background-color: white;
        padding: 10px 30px;
        color: black;
    }
    
    #section-two .container .right-side {
        background-color: black;
        padding: 40px 80px;
        color: white;
    }
    
    h2 {
        font-family: 'Lora', serif;
        font-size: 15px;
    
    }




  }