/* fonts

    font-family: 'Lora', serif;
    font-family: 'Sen', sans-serif;
    font-family: 'Mrs Saint Delafield', cursive;*/
/* MOBILE */

html,
body {
  background-image: url("images/main-background-1.jpg");
  background-color: black;
  background-repeat: repeat;
  background-size: 100%;
  margin: auto 0;
  font-family: "Sen", sans-serif;
  color: white;
}

/* NAVBAR */

.navbar .container {
  background-color: #fcfcfc;
  position: static;
  margin: 0;
  padding: 40px 40px;
}

.navbar .container .nav-logo {
  display: flex;
  justify-content: center;
}

.nav-links a {
}

.nav-links a:hover,
.nav-links a:focus {
  color: orangered;
}

/* MAIN PAGE */

.main {
  display: flex;
  justify-content: center;
}

.main h1 {
  color: white;
  letter-spacing: 12px;
  padding-top: 50px;
  margin: auto 0;
}

/* Mission */

.about {
  
  padding: 30px 30px;
  text-align: center;
}

.about h2{
    font-size: 20px;
    margin: auto 0;
    padding-bottom: 10px;

}

.about p{
    font-size: 1em;
    margin: auto 0;

}

.subscribe-form {
  background-color: #fcfcfc;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 20px;
}

.subscribe-form p {
    color: black;
    margin: auto 0;
    padding-bottom: 10px;
}

input {
  display: inline-block;
}

#email {
    width: 200px;
    padding-left: 5px;
    font-family: "Sen", sans-serif; 
    border-radius: 2px; 
    border-top-style: 1px;
    
}

#btn{
  padding: 3px 8px;  
} 

footer {
  color: white;
  margin: auto 0;
  text-align: center;
  padding: 30px;
}

.footer-links p {
  margin: auto 0;
}

.footer-links a {
  text-decoration: none;
  margin-top: 10px;
}

.footer-links a:visited {
  color: white;
}

.footer-links a:hover {
  color: orangered;
  text-decoration: none;
}

.copyright p{
    text-align: center;
    font-size: 9px;
    margin: auto 0;
    padding-bottom: 20px;
}

/* MOBILE RESPONSIVE */

@media (max-width: 300px) {
  .navbar .container {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .nav-links {
    grid-row: 2/2;
    justify-content: center;
    font-size: 12px;
  }

  .main img {
    width: 300px;
  }

  .main p {
    display: flex;
    justify-content: center;
    color: white;
    letter-spacing: 10px;
    padding-top: 20px;
    font-size: 10px;
  }

  /* ABOUT AND MISSION */

  #section-two .container {
    display: grid;
    grid-template-rows: 50% 50%;
    padding-top: 50px;
    line-height: 15px;
  }

  #section-two .container .left-side {
    background-color: white;
    padding: 10px 30px;
    color: black;
  }

  #section-two .container .right-side {
    background-color: black;
    padding: 40px 80px;
    color: white;
  }

  h2 {
    font-family: "Lora", serif;
    font-size: 15px;
  }
}
